@font-face {
    font-family: "Roboto";
    src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');

}

@font-face {
    font-family: "Roboto-Medium";
    src: url('fonts/Roboto/Roboto-Medium.ttf') format('truetype');

}

@font-face {
    font-family: "Roboto-Bold";
    src: url('fonts/Roboto/Roboto-Bold.ttf') format('truetype');

}
@font-face {
    font-family: "Poppins-Medium";
    src: url('fonts/Poppins/Poppins-Medium.ttf') format('truetype');

}
@font-face {
    font-family: "Poppins-SemiBold";
    src: url('fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');

}
@font-face {
    font-family: "Poppins-MediumItalic";
    src: url('fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: "Poppins-Regular";
    src: url('fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Poppins-SemiBoldItalic";
    src: url('fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
}